body{
    background-color: #a6d120;
    font-family: Arial;
}

.bold{
    font-weight: bold;
}

.template{
    background-color: rgba(0,0,0,.2);
    padding: 1em;
}

#time-elapsed{
    background-color: rgba(255,0,0,.5);
    padding: 1em;
    font-size: 48px;
    text-align: center;
    color: white;
    position: relative;
}

#time-elapsed::before{
    content: "Time elapsed";
    font-size: 22px;
    position: absolute;
    top: .2em;
    left:.2em;
    
}


